<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Base del proyecto
    RewriteBase /AuthManager/AuthManagerApi/
    
    # Redirigir todo a index.php excepto archivos reales
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>